<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
	<session-factory>
	<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="hibernate.connection.username">practice</property>
		<property name="hibernate.connection.password">1234</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
		
	
		<property name="hibernate.show_sql">true</property>
	
		<property name="hinernate.format_sql">true</property>
		
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class = "in.orcas.model.Employee"/>
	</session-factory>
</hibernate-configuration>